<div *ngIf="model">
  <!-- Trip Milage -->
  <div class="form-section form-section-border">
    <div class="section-header">Trip Millage</div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputOdoStart">ODO Meter Startup</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="inputOdoStart"
                [value]="model.odoMeterStart"
                readonly
                id="inputOdoStart"
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputOdoEnd">ODO Meter End</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="inputOdoEnd"
                [value]="model.odoMeterEnd"
                readonly
                id="inputOdoEnd"
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputMilageKm">Millage KM</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="inputMilageKm"
                [value]="model.odoMeterDifference"
                readonly
                id="inputMilageKm"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Booking Info -->
  <div class="form-section form-section-border">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="label">
            <label for="inputBookedBy">{{
              utilityService.language.bookedBy | translate
            }}</label>
          </div>
          <div class="control">
            <input
              type="text"
              class="form-control"
              name="bookedBy"
              [value]="model.bookedBy?.text"
              readonly
              id="bookedBy"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="label">
            <label for="inputApprovedBy">Approved By</label>
          </div>
          <div class="control">
            <input
              type="text"
              class="form-control"
              name="approvedBy"
              [value]="model.approvedBy?.text"
              readonly
              id="approvedBy"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="label">
            <label for="inputExecutedBy">Executed By</label>
          </div>
          <div class="control">
            <input
              type="text"
              class="form-control"
              name="inputExecutedBy"
              [value]="model.executedBy?.text"
              readonly
              id="inputExecutedBy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Trip Requester -->
  <div class="form-section form-section-border" *ngIf="model.requester">
    <div class="section-header">Trip Requester</div>
    <div class="section-body">
      <!-- Requester Info -->
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputRequester">Requester</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="requester"
                [value]="model.requester?.text"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputRequestPhone">Reqester Phone</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="requesterPhone"
                [value]="model.requesterPhone"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputRequestOpm">OPM</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="requesterOpm"
                [value]="model?.requesterOpm?.text"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Passengers -->
  <div
    class="form-section form-section-border"
    *ngIf="model.passengers && model.passengers.length > 0"
  >
    <div class="section-header">Passengers</div>
    <div class="section-body">
      <!-- Requester as Passenger -->
      <!-- <div class="form-section blue-section">
        <div class="section-header">Passenger 1 (The Requester)</div>
        <div class="section-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="label">
                  <label [for]="'inputPassengerName'">Passenger Name</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    name="requesterPhone"
                    [value]="model.passenger.name"
                    readonly
                    id=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="label">
                  <label [for]="'inputPassengerGender'">Gender</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    name="requesterPhone"
                    [value]="requesterDetail?.gender?.text"
                    readonly
                    id=""
                  />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="label">
                  <label [for]="'inputPassengerAgeGroup'">Age Group</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    name="requesterPhone"
                    [value]="model.ageGroup.text"
                    readonly
                    id=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Number of Extra Passengers -->
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputNumberOfPassengers"
                >Number of
                {{ form.get("isRequesterTraveling").value ? "Extra" : "" }}
                Passengers</label
              >
            </div>
            <div class="control">
              <input
                type="number"
                class="form-control"
                name="inputNumberOfPassengers"
                [value]="0"
                min="0"
                max="10"
                (change)="handleNumberOfPassengerChange($event)"
                id=""
              />
            </div>
          </div>
        </div>
      </div> -->
      <!-- Passengers -->
      <div>
        <div
          class="form-section blue-section"
          *ngFor="let passenger of model.passengers; let j = index"
        >
          <div class="section-header">
            Passenger
            {{ j + 1 }}
          </div>
          <div class="section-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div class="label">
                    <label [for]="'inputPassengerName' + j"
                      >Passenger Name</label
                    >
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      [value]="passenger.passenger?.text"
                      readonly
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="label">
                    <label [for]="'inputPassengerGender' + j">Gender</label>
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      [value]="passenger.gender?.text"
                      readonly
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div class="label">
                    <label [for]="'inputPassengerAgeGroup' + j"
                      >Age Group</label
                    >
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      [value]="passenger.ageGroup?.text"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Special Services -->
  <div
    class="form-section form-section-border"
    *ngIf="model.isSpecialServicesRequired"
  >
    <div class="section-header">Special Services</div>
    <div class="section-body">
      <!-- Special Services -->
      <div class="row">
        <div
          class="col-md-3"
          *ngFor="let specialService of model.specialSevices; let j = index"
        >
          <div class="form-group">
            <div class="control" style="border: 1px solid; padding: 5px">
              <div class="display-flex">
                <div class="checkbox-control">
                  <input
                    type="checkbox"
                    id="inputAlloDiscount"
                    [checked]="specialService.required"
                    [id]="'inputSpecialServiceRequired' + j"
                    kendoCheckBox
                    disabled
                  />
                  <label for="inputAlloDiscount">{{
                    specialService.specialService?.text
                  }}</label>
                </div>
                <div class="control">
                  <input
                    type="number"
                    class="form-control"
                    name=""
                    id=""
                    [value]="specialService.qty"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Booking -->
  <div class="form-section form-section-border">
    <div class="section-header">Booking</div>
    <div class="section-body">
      <!-- Pickup Time -->
      <div class="form-section blue-section">
        <div class="section-header">Pickup Date & Time</div>
        <div class="section-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="label">
                  <label for="inputPickupDate">Pickup Date</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    name="requesterOpm"
                    [value]="model.pickupDate | dateformat"
                    readonly
                    id=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="label">
                  <label for="inputPickupTime">Pickup Time</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    name="requesterOpm"
                    [value]="model.pickupTime | timeformat"
                    readonly
                    id=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Trip Destination -->
  <div class="form-section">
    <div class="section-header">Trip Destination</div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputTripType">Trip</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="requesterOpm"
                [value]="model.tripRoute?.text"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputTripDestination">Trip Destination</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                [value]="model.tripDestination?.text"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Starting Point -->
      <div class="form-section green-section">
        <div class="section-header">Default Starting Point</div>
        <div class="section-body">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <div class="label">
                  <label for="inputStartingPointAddress">Address</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    [value]="model.startingPoint?.text"
                    readonly
                    id=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pickups -->
      <div>
        <div
          class="form-section blue-section"
          *ngFor="let destination of model.destinations; let j = index"
        >
          <div class="section-header">
            <div class="header-title">
              {{ destination.type?.text }} {{ j + 1 }}
            </div>
            <div class="header-actions"></div>
          </div>
          <div class="section-body">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <div class="label">
                    <label [for]="'inputPickupAddress' + j">Address</label>
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      [value]="destination.address?.text"
                      readonly
                      id=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Driver and Transportation -->
  <div class="form-section">
    <div class="section-header">Driver & Transportation</div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputDriver">Driver</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="driver"
                [value]="model.driver?.text"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputVehical">Vehical</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="vehical"
                [value]="model.vehical?.text"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="label">
              <label for="inputRegistrationPlate">Registration Plate</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="vehical"
                [value]="model.vehicalPlateNumber"
                readonly
                id=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notes -->
  <div class="form-section">
    <div class="section-header">Notes</div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="control">
              <textarea
                class="form-control form-text-area"
                name=""
                [value]="model.notes"
                readonly
                id=""
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
