<div class="card card-grey p-24">
  <div class="card-header display-flex justify-space-between">
    <div class="card-title">Dashboard Widgets</div>
    <div class="card-action">
      <button type="button" class="btn btn-green">Save</button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-section">
      <div class="section-header">
        <span>General Settings...</span>
      </div>
      <div class="section-body">
        <div class="fields">
          <div class="form-group">
            <div class="label">
              <label for="inputSaleDate">Business Name</label>
            </div>
            <div class="control">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
