<form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
  <div class="page-actions"></div>
  <div class="page-area">
    <div class="page-header">
      <div class="page-title">
        <span>{{ utilityService.language.vehical | translate }}</span>
      </div>
    </div>
    <div class="page-body">
      <!-- Vehical Info -->
      <div class="form-section">
        <div class="row">
          <!-- Vehical ID -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputVehicalId">{{ utilityService.language.vehicalId | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputFirstName"
                  formControlName="vehicalIdStr"
                  id="inputVehicalId"
                  readonly
                />
              </div>
            </div>
          </div>
          <!-- Registration Plate -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputRegistrationPlate">{{ utilityService.language.registrationPlate | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputRegistrationPlate"
                  formControlName="registrationPlate"
                  id="inputRegistrationPlate"
                />
                <div
                  *ngIf="
                    !form.get('registrationPlate').valid &&
                    form.get('registrationPlate').touched
                  "
                  class="invalid-feedback"
                >
                  {{ utilityService.language.registrationPlateRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- Status -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputStatus">{{ utilityService.language.status | translate }}</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [defaultItem]="utilityService.dropdownDefaultItem"
                  [data]="statusList"
                  formControlName="status"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                </kendo-dropdownlist>
                <div
                  *ngIf="
                    !form.get('status').valid && form.get('status').touched
                  "
                  class="invalid-feedback"
                >
                  {{ utilityService.language.statusRequired | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Make -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputMake">{{ utilityService.language.make | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputMake"
                  formControlName="make"
                  id="inputMake"
                />
                <div
                  *ngIf="!form.get('make').valid && form.get('make').touched"
                  class="invalid-feedback"
                >
                  {{ utilityService.language.makeRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- Model -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputModel">{{ utilityService.language.model | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputModel"
                  formControlName="model"
                  id="inputModel"
                />
                <div
                  *ngIf="!form.get('model').valid && form.get('model').touched"
                  class="invalid-feedback"
                >
                  {{ utilityService.language.modelRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- Model -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputModelYear">{{ utilityService.language.modelYear | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="number"
                  class="form-control"
                  name="inputModelYear"
                  formControlName="modelYear"
                  id="inputModelYear"
                />
                <div
                  *ngIf="
                    !form.get('modelYear').valid &&
                    form.get('modelYear').touched
                  "
                  class="invalid-feedback"
                >
                  {{ utilityService.language.modelRequired | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Type -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputType">{{ utilityService.language.type | translate }}</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [defaultItem]="utilityService.dropdownDefaultItem"
                  [data]="typeList"
                  formControlName="type"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                </kendo-dropdownlist>
                <div
                  *ngIf="!form.get('type').valid && form.get('type').touched"
                  class="invalid-feedback"
                >
                  {{ utilityService.language.typeRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputColor">{{ utilityService.language.color | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputColor"
                  formControlName="color"
                  id="inputColor"
                />
                <div
                  *ngIf="!form.get('color').valid && form.get('color').touched"
                  class="invalid-feedback"
                >
                  {{ utilityService.langugae.colorRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- Armoued -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="control">
                <div class="display-flex">
                  <div class="checkbox-control">
                    <kendo-switch
                      [size]="'small'"
                      id="inputArmoured"
                      formControlName="armoured"
                    ></kendo-switch>
                  </div>
                  <div class="label">
                    <label for="inputArmoured">{{ utilityService.language.isArmoured | translate }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-left">
        <div class="tab-left-items">
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 1 }"
            (click)="setActiveTab(1)"
            >{{ utilityService.language.engineOil | translate }}
          </a>
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 2 }"
            (click)="setActiveTab(2)"
            >{{ utilityService.language.wheelsTyres | translate }}</a
          >
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 3 }"
            (click)="setActiveTab(3)"
            >{{ utilityService.language.odoMeter | translate }}</a
          >
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 4 }"
            (click)="setActiveTab(4)"
            >{{ utilityService.language.generalInspection | translate }}</a
          >
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 5 }"
            (click)="setActiveTab(5)"
            >{{ utilityService.language.body | translate }}</a
          >
        </div>
        <div class="tab-content" style="background-color: white">
          <!-- Engine Oil -->
          <div *ngIf="activeTab == 1">
            <!-- General -->
            <div class="form-section">
              <div class="section-header">{{ utilityService.language.general | translate }}</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputEngineCapacity"
                          >{{ utilityService.language.engineCapacity | translate }}</label
                        >
                      </div>
                      <div class="control">
                        <input
                          type="number"
                          class="form-control"
                          name="inputEngineCapacity"
                          formControlName="engineOilCapacity"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilBrand"
                          >{{ utilityService.language.recommendedEngineOil | translate }}</label
                        >
                      </div>
                      <div class="control">
                        <input
                          type="text"
                          class="form-control"
                          name="inputOilBrand"
                          formControlName="recommendedOilBrand"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Next Due -->
            <div class="form-section">
              <div class="section-header">{{ utilityService.language.nextDue | translate }}</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilNextDueMilage">{{ utilityService.language.millage | translate }}</label>
                      </div>
                      <div class="control">
                        <input
                          type="number"
                          class="form-control"
                          name="inputOilNextDueMilage"
                          formControlName="oilNextDueMilage"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilNextDueDate">{{ utilityService.language.date | translate }}</label>
                      </div>
                      <div class="control">
                        <kendo-datepicker
                          class="form-control"
                          id="inputOilNextDueDate"
                          formControlName="oilNextDueDate"
                        >
                        </kendo-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Commnets -->

            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilComments">{{ utilityService.language.comments | translate }}</label>
                      </div>
                      <div class="control">
                        <textarea
                          class="form-control form-text-area"
                          name="inputOilComments"
                          formControlName="oilComments"
                          id=""
                          cols="30"
                          rows="10"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Wheels & Tires -->
          <div *ngIf="activeTab == 2">
            <div class="form-section">
              <div class="section-header">{{ utilityService.language.general | translate }}</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputRimSize">{{ utilityService.language.rimSize | translate }}</label>
                      </div>
                      <div class="control">
                        <input
                          type="text"
                          class="form-control"
                          name="inputRimSize"
                          formControlName="rimSize"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTyreSize">{{ utilityService.language.tyreSize | translate }}</label>
                      </div>
                      <div class="control">
                        <input
                          type="text"
                          class="form-control"
                          name="inputTyreSize"
                          formControlName="tyreSize"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTireBrand">{{ utilityService.language.recommendedBrands | translate}}</label>
                      </div>
                      <div class="control">
                        <input
                          type="string"
                          class="form-control"
                          name="inputTireBrand"
                          formControlName="tireBrand"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTyreExpiryDate">{{ utilityService.language.expiryDate | translate }}</label>
                      </div>
                      <div class="control">
                        <kendo-datepicker
                          class="form-control"
                          id="inputTyreExpiryDate"
                          formControlName="tyreExpiryDate"
                        >
                        </kendo-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTyreComments">{{ utilityService.language.comments | translate }}</label>
                      </div>
                      <div class="control">
                        <textarea
                          class="form-control form-text-area"
                          name="inputTyreComments"
                          formControlName="tyreComments"
                          id=""
                          cols="30"
                          rows="10"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ODO Meter -->
          <div *ngIf="activeTab == 3">
            <div class="form-section">
              <div class="section-header">{{ utilityService.language.milageOnODO | translate }}</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOdoMeter">{{ utilityService.language.millage | translate }}</label>
                      </div>
                      <div class="control">
                        <input
                          type="number"
                          class="form-control"
                          name="inputOdoMeter"
                          formControlName="odoMeter"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOdoComments">{{ utilityService.language.comments | translate }}</label>
                      </div>
                      <div class="control">
                        <textarea
                          class="form-control form-text-area"
                          name="inputOdoComments"
                          formControlName="odoMeterComments"
                          id=""
                          cols="30"
                          rows="10"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- General Inspection -->
          <div *ngIf="activeTab == 4">
            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="grid-content" *ngIf="hasGeneralInspection()">
                      <div class="grid-toolbar">
                        <div class="left"></div>
                        <div class="right">
                          <input
                            type="search"
                            class="form-control"
                            placeholder="Search"
                            (keyup)="onGeneralInspectionSearch($event)"
                          />
                        </div>
                      </div>

                      <kendo-grid
                        [data]="generalInspectionItems"
                        [pageable]="false"
                        scrollable="none"
                      >
                        <kendo-grid-column title="Inspection Item">
                          <ng-template
                            kendoGridCellTemplate
                            let-dataItem
                            let-rowIndex="rowIndex"
                          >
                            <div class="display-flex justify-content-start">
                              <img
                                [src]="
                                  'data:image/png; base64, ' + dataItem.image
                                "
                                alt="abc"
                              />
                              <p
                                style="
                                  padding: 16px;
                                  margin-top: 8px;
                                  margin-bottom: 0;
                                "
                              >
                                {{ dataItem.option?.text }}
                              </p>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="answer" title="Result">
                          <ng-template
                            kendoGridCellTemplate
                            let-dataItem
                            let-rowIndex="rowIndex"
                          >
                            <span *ngIf="dataItem.answer">{{ utilityService.language.pass | translate }}</span>
                            <span *ngIf="!dataItem.answer">{{ utilityService.language.fail | translate }}</span>
                          </ng-template>
                        </kendo-grid-column>
                      </kendo-grid>
                    </div>
                    <div
                      class="display-flex justify-content-center"
                      *ngIf="!hasGeneralInspection()"
                    >
                      <p style="margin-bottom: 0">{{ utilityService.language.noDateAvail | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Body -->
          <div *ngIf="activeTab == 5">
            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="grid-content" *ngIf="hasBodyInspection()">
                      <div class="grid-toolbar">
                        <div class="left"></div>
                        <div class="right">
                          <input
                            type="search"
                            class="form-control"
                            placeholder="Search"
                            (keyup)="onBodyInspectionSearch($event)"
                          />
                        </div>
                      </div>

                      <kendo-grid
                        [data]="bodyInspectionItems"
                        [pageable]="false"
                        scrollable="none"
                      >
                        <kendo-grid-column title="Inspection Item">
                          <ng-template
                            kendoGridCellTemplate
                            let-dataItem
                            let-rowIndex="rowIndex"
                          >
                            <div class="display-flex justify-content-start">
                              <p style="margin-bottom: 0">
                                {{ dataItem.part?.text }}
                              </p>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="scraches" title="Scratch">
                        </kendo-grid-column>
                        <kendo-grid-column field="damages" title="Damage">
                        </kendo-grid-column>
                        <kendo-grid-column field="dents" title="Dent">
                        </kendo-grid-column>
                      </kendo-grid>
                    </div>
                    <div
                      class="display-flex justify-content-center"
                      *ngIf="!hasBodyInspection()"
                    >
                      <p style="margin-bottom: 0">{{ utilityService.language.noDateAvail | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Actions -->
      <div class="form-section transparent-section">
        <div class="section-body">
          <div class="description sm-hide"></div>
          <div class="fields">
            <div class="form-group">
              <button
                class="btn btn-default mr-16"
                type="button"
                (click)="cancel()"
              >
                {{ utilityService.language.cancel | translate }}
              </button>
              <button *ngIf="!editMode" class="btn btn-primary" type="submit">
                {{ utilityService.language.create | translate }}
              </button>
              <button *ngIf="editMode" class="btn btn-primary" type="submit">
                {{ utilityService.language.update | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
