<form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
  <div class="page-actions"></div>
  <div class="page-area">
    <div class="page-header">
      <div class="page-title">
        <span>Vehical</span>
      </div>
    </div>
    <div class="page-body">
      <!-- Vehical Info -->
      <div class="form-section">
        <div class="row">
          <!-- Vehical ID -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputVehicalId">Vehical ID</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputFirstName"
                  formControlName="vehicalIdStr"
                  id="inputVehicalId"
                  readonly
                />
              </div>
            </div>
          </div>
          <!-- Registration Plate -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputRegistrationPlate">Registration Plate</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputRegistrationPlate"
                  formControlName="registrationPlate"
                  id="inputRegistrationPlate"
                />
                <div
                  *ngIf="
                    !form.get('registrationPlate').valid &&
                    form.get('registrationPlate').touched
                  "
                  class="invalid-feedback"
                >
                  Registration plate is required
                </div>
              </div>
            </div>
          </div>
          <!-- Status -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputStatus">Status</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [defaultItem]="utilityService.dropdownDefaultItem"
                  [data]="statusList"
                  formControlName="status"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                </kendo-dropdownlist>
                <div
                  *ngIf="
                    !form.get('status').valid && form.get('status').touched
                  "
                  class="invalid-feedback"
                >
                  Status is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Make -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputMake">Make</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputMake"
                  formControlName="make"
                  id="inputMake"
                />
                <div
                  *ngIf="!form.get('make').valid && form.get('make').touched"
                  class="invalid-feedback"
                >
                  Make is required
                </div>
              </div>
            </div>
          </div>
          <!-- Model -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputModel">Model</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputModel"
                  formControlName="model"
                  id="inputModel"
                />
                <div
                  *ngIf="!form.get('model').valid && form.get('model').touched"
                  class="invalid-feedback"
                >
                  Model is required
                </div>
              </div>
            </div>
          </div>
          <!-- Model -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputModelYear">Model Year</label>
              </div>
              <div class="control">
                <input
                  type="number"
                  class="form-control"
                  name="inputModelYear"
                  formControlName="modelYear"
                  id="inputModelYear"
                />
                <div
                  *ngIf="
                    !form.get('modelYear').valid &&
                    form.get('modelYear').touched
                  "
                  class="invalid-feedback"
                >
                  Model Year is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Type -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputType">Type</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [defaultItem]="utilityService.dropdownDefaultItem"
                  [data]="typeList"
                  formControlName="type"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                </kendo-dropdownlist>
                <div
                  *ngIf="!form.get('type').valid && form.get('type').touched"
                  class="invalid-feedback"
                >
                  Type is required
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputColor">Color</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputColor"
                  formControlName="color"
                  id="inputColor"
                />
                <div
                  *ngIf="!form.get('color').valid && form.get('color').touched"
                  class="invalid-feedback"
                >
                  Color is required
                </div>
              </div>
            </div>
          </div>
          <!-- Armoued -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="control">
                <div class="display-flex">
                  <div class="checkbox-control">
                    <kendo-switch
                      [size]="'small'"
                      id="inputArmoured"
                      formControlName="armoured"
                    ></kendo-switch>
                  </div>
                  <div class="label">
                    <label for="inputArmoured">is armoured</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-left">
        <div class="tab-left-items">
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 1 }"
            (click)="setActiveTab(1)"
            >Engine Oil
          </a>
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 2 }"
            (click)="setActiveTab(2)"
            >Wheels & Tires</a
          >
          <a
            class="tab-left-item"
            [ngClass]="{ active: activeTab == 3 }"
            (click)="setActiveTab(3)"
            >ODO Meter</a
          >
        </div>
        <div class="tab-content" style="background-color: white">
          <div *ngIf="activeTab == 1">
            <!-- General -->
            <div class="form-section">
              <div class="section-header">General</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputEngineCapacity"
                          >Engine Capacity (Liters)</label
                        >
                      </div>
                      <div class="control">
                        <input
                          type="number"
                          class="form-control"
                          name="inputEngineCapacity"
                          formControlName="engineOilCapacity"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilBrand"
                          >Recommended Engine Oil Brand</label
                        >
                      </div>
                      <div class="control">
                        <input
                          type="text"
                          class="form-control"
                          name="inputOilBrand"
                          formControlName="recommendedOilBrand"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Next Due -->
            <div class="form-section">
              <div class="section-header">Next Due</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilNextDueMilage">Milage (KM)</label>
                      </div>
                      <div class="control">
                        <input
                          type="number"
                          class="form-control"
                          name="inputOilNextDueMilage"
                          formControlName="oilNextDueMilage"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilNextDueDate">Date</label>
                      </div>
                      <div class="control">
                        <kendo-datepicker
                          class="form-control"
                          id="inputOilNextDueDate"
                          formControlName="oilNextDueDate"
                        >
                        </kendo-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Commnets -->

            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOilComments">Comments</label>
                      </div>
                      <div class="control">
                        <textarea
                          class="form-control form-text-area"
                          name="inputOilComments"
                          formControlName="oilComments"
                          id=""
                          cols="30"
                          rows="10"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="activeTab == 2">
            <div class="form-section">
              <div class="section-header">General</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputRimSize">RIM Size</label>
                      </div>
                      <div class="control">
                        <input
                          type="text"
                          class="form-control"
                          name="inputRimSize"
                          formControlName="rimSize"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTyreSize">Tyre Size</label>
                      </div>
                      <div class="control">
                        <input
                          type="text"
                          class="form-control"
                          name="inputTyreSize"
                          formControlName="tyreSize"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTireBrand">Recommended Brand</label>
                      </div>
                      <div class="control">
                        <input
                          type="string"
                          class="form-control"
                          name="inputTireBrand"
                          formControlName="tireBrand"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTyreExpiryDate">Expiry Date</label>
                      </div>
                      <div class="control">
                        <kendo-datepicker
                          class="form-control"
                          id="inputTyreExpiryDate"
                          formControlName="tyreExpiryDate"
                        >
                        </kendo-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputTyreComments">Comments</label>
                      </div>
                      <div class="control">
                        <textarea
                          class="form-control form-text-area"
                          name="inputTyreComments"
                          formControlName="tyreComments"
                          id=""
                          cols="30"
                          rows="10"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="activeTab == 3">
            <div class="form-section">
              <div class="section-header">Milage on ODO Meter</div>
              <div class="section-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOdoMeter">Milage (KM)</label>
                      </div>
                      <div class="control">
                        <input
                          type="number"
                          class="form-control"
                          name="inputOdoMeter"
                          formControlName="odoMeter"
                          id=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-section">
              <div class="section-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="label">
                        <label for="inputOdoComments">Comments</label>
                      </div>
                      <div class="control">
                        <textarea
                          class="form-control form-text-area"
                          name="inputOdoComments"
                          formControlName="odoMeterComments"
                          id=""
                          cols="30"
                          rows="10"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Actions -->
      <div class="form-section transparent-section">
        <div class="section-body">
          <div class="description sm-hide"></div>
          <div class="fields">
            <div class="form-group">
              <button
                class="btn btn-default mr-16"
                type="button"
                (click)="cancel()"
              >
                Cancel
              </button>
              <button *ngIf="!editMode" class="btn btn-primary" type="submit">
                Create
              </button>
              <button *ngIf="editMode" class="btn btn-primary" type="submit">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
