<div class="row pb-24">
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="opm-blue-icon"
      title="{{ utilityService.language.tripsOPM | translate }}"
      subtitle="{{ utilityService.language.today | translate }}"
      [count]="countModel?.todayOpmTrips"
      [reportLink]="'/reports/trips/opm-today'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="opm-yellow-icon"
      title="{{ utilityService.language.tripsOPM | translate }}"
      [subtitle]="currentMonth"
      [count]="countModel?.currentMonthOpmTrips"
      [reportLink]="'/reports/trips/opm-current-month'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="today-saudi-icon"
      title="{{ utilityService.language.tripsSaudi | translate }}"
      subtitle="{{ utilityService.language.today | translate }}"
      [count]="countModel?.todaySaudiTrips"
      [reportLink]="'/reports/trips/saudi-today'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="month-saudi-icon"
      title="{{ utilityService.language.tripsSaudi | translate }}"
      [subtitle]="currentMonth"
      [count]="countModel?.currentMonthSaudiTrips"
      [reportLink]="'/reports/trips/saudi-current-month'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
</div>
<div class="row pb-24">
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="today-milage-opm-icon"
      title="{{ utilityService.language.milageOPM | translate }}"
      [subtitle]="'Today'"
      [count]="countModel?.todayOpmMilage"
      [reportLink]="'/reports/trips/opm-milage-today'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="month-milage-opm-icon"
      title="{{ utilityService.language.milageOPM | translate }}"
      [subtitle]="currentMonth"
      [count]="countModel?.currentMonthOpmMilage"
      [reportLink]="'/reports/trips/opm-milage-current-month'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="today-milage-saudi-icon"
      title="{{ utilityService.language.milageSaudi | translate }}"
      subtitle="{{ utilityService.language.today | translate }}"
      [count]="countModel?.todaySaudiMilage"
      [reportLink]="'/reports/trips/saudi-milage-today'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="month-milage-saudi-icon"
      title="{{ utilityService.language.milageSaudi | translate }}"
      [subtitle]="currentMonth"
      [count]="countModel?.currentMonthSaudiMilage"
      [reportLink]="'/reports/trips/saudi-milage-current-month'"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
</div>
<div class="row pb-24">
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="oil-change-icon"
      title="{{ utilityService.language.oilChange | translate }}"
      [subtitle]="'Vehicles'"
      [count]="countModel?.oilChange"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="trips-icon"
      title="{{ utilityService.language.trip | translate }}"
      [subtitle]="currentMonth"
      [count]="countModel?.currentMonthTrips"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="today-milage-icon"
      title="{{ utilityService.language.milage | translate }}"
      subtitle="{{ utilityService.language.today | translate }}"
      [count]="countModel?.todayMilage"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-bottom-tile
      iconClass="month-milage-icon"
      title="{{ utilityService.language.milage | translate }}"
      [subtitle]="currentMonth"
      [count]="countModel?.currentMonthMilage"
    ></app-dashboard-home-trip-bottom-tile>
  </div>
</div>
