<div class="page-actions"></div>
<div class="page-area">
  <div class="page-header">
    <div class="page-title">
      <span>{{ pageTitle }}</span>
    </div>
  </div>
  <div class="page-body">
    <div class="grid-toolbar">
      <div class="left"></div>
      <div class="right">
        <button class="btn btn-green" (click)="handleCreateNewButtonClick()">
          Create New Vehical
        </button>
      </div>
    </div>
    <div class="tab-left">
      <div class="tab-left-items">
        <a
          class="tab-left-item"
          routerLinkActive="active"
          routerLink="/vehicals/pool/all"
          >All Vehicles</a
        >
        <a
          class="tab-left-item"
          routerLinkActive="active"
          routerLink="/vehicals/pool/active"
          >Active Vehicles</a
        >
        <a
          class="tab-left-item"
          routerLinkActive="active"
          routerLink="/vehicals/pool/inactive"
          >Inactive Vehicles</a
        >
        <a
          class="tab-left-item"
          routerLinkActive="active"
          routerLink="/vehicals/pool/maintenance"
          >Under Maintenance</a
        >
        <a
          class="tab-left-item"
          routerLinkActive="active"
          routerLink="/vehicals/pool/gripped"
          >Gripped Vehicles</a
        >
      </div>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
