<!--wrapper-->
<div class="wrapper">
  <div class="sign-in-content">
    <!-- <div class="left"></div> -->
    <div class="right" [perfectScrollbar]>
      <div class="row" style="margin: 80px">
        <div class="col mx-auto">
          <div style="font-size: 32px; margin-bottom: 80px">FLEETIO</div>
          <div class="card card-transparent">
            <div class="card-body">
              <div class="rounded">
                <div class="mb-40">
                  <h3 class="heading">Login</h3>
                </div>
                <form
                  (ngSubmit)="login()"
                  *ngIf="loginForm"
                  [formGroup]="loginForm"
                >
                  <p>Signin to your account below</p>
                  <div class="form-group">
                    <label for="inputUserName" class="form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputUserName"
                      placeholder="Username"
                      formControlName="userName"
                    />
                    <div
                      *ngIf="
                        !loginForm.get('userName').valid &&
                        loginForm.get('userName').touched
                      "
                      class="invalid-feedback"
                    >
                      Email is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="form-label"
                      >Password</label
                    >
                    <input
                      [type]="passwordType"
                      class="form-control border-end-0"
                      id="inputPassword"
                      placeholder="Password"
                      formControlName="password"
                    />

                    <div
                      *ngIf="
                        !loginForm.get('password').valid &&
                        loginForm.get('password').touched
                      "
                      class="invalid-feedback"
                    >
                      Password is required
                    </div>
                    <div *ngIf="loginFailed" class="invalid-feedback">
                      Login failed! Email or Password not correct!
                    </div>
                  </div>
                  <!-- <a routerLink="/auth/forgot-password">Forgot password?</a> -->
                  <div class="mt-40 mb-40 form-group">
                    <button type="submit" class="btn btn-primary">
                      <i class="bx bxs-lock-open"></i>Login
                    </button>
                  </div>
                </form>
                <!-- <p class="mt-40 mb-90">
                  Don't have an account?
                  <a routerLink="/auth/sign-up"><b>Sign up</b></a>
                </p> -->
                <p>Trouble logging in to your account? <a>Contact Us</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
