<form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
  <div class="page-actions"></div>
  <div class="page-area">
    <div class="page-header">
      <div class="page-title">
        <span>New Driver</span>
      </div>
    </div>
    <div class="page-body">
      <!-- Driver Info -->
      <div class="form-section">
        <div class="row">
          <!-- First name -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="firstName">First Name</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  formControlName="firstName"
                  id="firstName"
                />
                <div
                  *ngIf="
                    !form.get('firstName').valid &&
                    form.get('firstName').touched
                  "
                  class="invalid-feedback"
                >
                  First Name is required
                </div>
              </div>
            </div>
          </div>
          <!-- Middle name -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="middleName">Middle Name</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="middleName"
                  formControlName="middleName"
                  id="middleName"
                />
                <div
                  *ngIf="
                    !form.get('middleName').valid &&
                    form.get('middleName').touched
                  "
                  class="invalid-feedback"
                >
                  Middle Name is required
                </div>
              </div>
            </div>
          </div>
          <!-- Last name -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="driverLastName">Last Name</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  formControlName="lastName"
                  id="lastName"
                />
                <div
                  *ngIf="
                    !form.get('lastName').valid && form.get('lastName').touched
                  "
                  class="invalid-feedback"
                >
                  Last Name is required
                </div>
              </div>
            </div>
          </div>
          <!-- Nationality -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label>Nationality</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [data]="countryList"
                  formControlName="nationality"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                </kendo-dropdownlist>
              </div>
            </div>
          </div>
          <!-- ID Number -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="idNumber">ID Number</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="idNumber"
                  formControlName="idNumber"
                  id="idNumber"
                />
                <div
                  *ngIf="
                    !form.get('idNumber').valid && form.get('idNumber').touched
                  "
                  class="invalid-feedback"
                >
                  ID Number is required
                </div>
              </div>
            </div>
          </div>

          <!-- Active
          <div class="col-md-4">
            <div class="form-group">
              <div class="control">
                <div class="display-flex">
                  <div class="checkbox-control">
                    <kendo-switch
                      [size]="'small'"
                      id="inputActive"
                      formControlName="isActive"
                    ></kendo-switch>
                  </div>
                  <div class="label">
                    <label for="inputActive">is active</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ID Number -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="mobileNumber">Mobile Number</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="mobileNumber"
                  formControlName="mobileNumber"
                  id="mobileNumber"
                />
                <div
                  *ngIf="
                    !form.get('mobileNumber').valid &&
                    form.get('mobileNumber').touched
                  "
                  class="invalid-feedback"
                >
                  Mobile Number is required
                </div>
              </div>
            </div>
          </div>
          <!-- Email Address -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="emailAddress">Email address</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="emailAddress"
                  formControlName="emailAddress"
                  id="emailAddress"
                />
                <div
                  *ngIf="
                    !form.get('emailAddress').valid &&
                    form.get('emailAddress').touched
                  "
                  class="invalid-feedback"
                >
                  Email Address is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          &lt;!&ndash; Make &ndash;&gt;-->
        <!--          <div class="col-md-4">-->
        <!--            <div class="form-group">-->
        <!--              <div class="label">-->
        <!--                <label for="inputMake">Make</label>-->
        <!--              </div>-->
        <!--              <div class="control">-->
        <!--                <input-->
        <!--                  type="text"-->
        <!--                  class="form-control"-->
        <!--                  name="inputMake"-->
        <!--                  formControlName="make"-->
        <!--                  id="inputMake"-->
        <!--                />-->
        <!--                <div-->
        <!--                  *ngIf="!form.get('make').valid && form.get('make').touched"-->
        <!--                  class="invalid-feedback"-->
        <!--                >-->
        <!--                  Make is required-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          &lt;!&ndash; Model &ndash;&gt;-->
        <!--          <div class="col-md-4">-->
        <!--            <div class="form-group">-->
        <!--              <div class="label">-->
        <!--                <label for="inputModel">Model</label>-->
        <!--              </div>-->
        <!--              <div class="control">-->
        <!--                <input-->
        <!--                  type="text"-->
        <!--                  class="form-control"-->
        <!--                  name="inputModel"-->
        <!--                  formControlName="model"-->
        <!--                  id="inputModel"-->
        <!--                />-->
        <!--                <div-->
        <!--                  *ngIf="!form.get('model').valid && form.get('model').touched"-->
        <!--                  class="invalid-feedback"-->
        <!--                >-->
        <!--                  Model is required-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          &lt;!&ndash; Model &ndash;&gt;-->
        <!--          <div class="col-md-4">-->
        <!--            <div class="form-group">-->
        <!--              <div class="label">-->
        <!--                <label for="inputModelYear">Model Year</label>-->
        <!--              </div>-->
        <!--              <div class="control">-->
        <!--                <input-->
        <!--                  type="number"-->
        <!--                  class="form-control"-->
        <!--                  name="inputModelYear"-->
        <!--                  formControlName="modelYear"-->
        <!--                  id="inputModelYear"-->
        <!--                />-->
        <!--                <div-->
        <!--                  *ngIf="-->
        <!--                    !form.get('modelYear').valid &&-->
        <!--                    form.get('modelYear').touched-->
        <!--                  "-->
        <!--                  class="invalid-feedback"-->
        <!--                >-->
        <!--                  Model Year is required-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="row">-->
        <!--          &lt;!&ndash; Type &ndash;&gt;-->
        <!--          <div class="col-md-4">-->
        <!--            <div class="form-group">-->
        <!--              <div class="label">-->
        <!--                <label for="inputType">Type</label>-->
        <!--              </div>-->
        <!--              <div class="control">-->
        <!--                <kendo-dropdownlist-->
        <!--                  class="form-control"-->
        <!--                  textField="text"-->
        <!--                  valueField="value"-->
        <!--                  [defaultItem]="utilityService.dropdownDefaultItem"-->
        <!--                  [data]="typeList"-->
        <!--                  formControlName="type"-->
        <!--                >-->
        <!--                  <ng-template kendoDropDownListItemTemplate let-dataItem>-->
        <!--                    <span>{{ dataItem.text }}</span>-->
        <!--                  </ng-template>-->
        <!--                </kendo-dropdownlist>-->
        <!--                <div-->
        <!--                  *ngIf="!form.get('type').valid && form.get('type').touched"-->
        <!--                  class="invalid-feedback"-->
        <!--                >-->
        <!--                  Type is required-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="col-md-4">-->
        <!--            <div class="form-group">-->
        <!--              <div class="label">-->
        <!--                <label for="inputColor">Color</label>-->
        <!--              </div>-->
        <!--              <div class="control">-->
        <!--                <input-->
        <!--                  type="text"-->
        <!--                  class="form-control"-->
        <!--                  name="inputColor"-->
        <!--                  formControlName="color"-->
        <!--                  id="inputColor"-->
        <!--                />-->
        <!--                <div-->
        <!--                  *ngIf="!form.get('color').valid && form.get('color').touched"-->
        <!--                  class="invalid-feedback"-->
        <!--                >-->
        <!--                  Color is required-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          &lt;!&ndash; Armoued &ndash;&gt;-->
        <!--          <div class="col-md-4">-->
        <!--            <div class="form-group">-->
        <!--              <div class="control">-->
        <!--                <div class="display-flex">-->
        <!--                  <div class="checkbox-control">-->
        <!--                    <kendo-switch-->
        <!--                      [size]="'small'"-->
        <!--                      id="inputArmoured"-->
        <!--                      formControlName="armoured"-->
        <!--                    ></kendo-switch>-->
        <!--                  </div>-->
        <!--                  <div class="label">-->
        <!--                    <label for="inputArmoured">is armoured</label>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>

      <div class="page-body">
        <!-- Driver Info -->
        <div class="form-section">
          <div class="row">
            <!-- User ID -->
            <div class="col-md-4">
              <div class="form-group">
                <div class="label">
                  <label for="userID">User ID</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    name="userID"
                    formControlName="userId"
                    id="userID"
                  />
                  <div
                    *ngIf="
                      !form.get('userId').valid && form.get('userId').touched
                    "
                    class="invalid-feedback"
                  >
                    User ID is required
                  </div>
                </div>
              </div>
            </div>
            <!-- Password -->
            <div class="col-md-4">
              <div class="form-group">
                <div class="label">
                  <label for="password">Password</label>
                </div>
                <div class="control">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    formControlName="password"
                    id="password"
                  />
                  <div
                    *ngIf="
                      !form.get('password').valid &&
                      form.get('password').touched
                    "
                    class="invalid-feedback"
                  >
                    User ID is required
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <!-- Actions -->
      <div class="form-section transparent-section">
        <div class="section-body">
          <div class="description sm-hide"></div>
          <div class="fields">
            <div class="form-group">
              <button
                class="btn btn-default mr-16"
                type="button"
                (click)="cancel()"
              >
                Cancel
              </button>
              <button *ngIf="!editMode" class="btn btn-primary" type="submit">
                Create
              </button>
              <button *ngIf="editMode" class="btn btn-primary" type="submit">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
