<div class="overlay" [perfectScrollbar]>
  <div class="overlay-wrapper" style="width: 30%">
    <div class="overlay-content bg-white p-24 sm-padding-10">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-transparent">
            <div class="card-header">
              <div class="card-title">New Passenger</div>
            </div>
            <div class="card-block">
              <form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
                <div class="form-section">
                  <div class="row">
                    <!-- Name -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="label">
                          <label for="inputPassengerName">Name</label>
                        </div>
                        <div class="control" style="max-width: none">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPassengerName"
                            formControlName="name"
                          />
                          <div
                            *ngIf="
                              !form.get('name').valid &&
                              form.get('name').touched
                            "
                            class="invalid-feedback"
                          >
                            Name is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Gender -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="label">
                          <label for="inputPassengerGender">Gender</label>
                        </div>
                        <div class="control">
                          <kendo-dropdownlist
                            class="form-control"
                            textField="text"
                            valueField="value"
                            [defaultItem]="utilityService.dropdownDefaultItem"
                            [data]="genderList"
                            formControlName="gender"
                          >
                            <ng-template
                              kendoDropDownListItemTemplate
                              let-dataItem
                            >
                              <span>{{ dataItem.text | translate }}</span>
                            </ng-template>
                          </kendo-dropdownlist>
                          <div
                            *ngIf="
                              !form.get('gender').valid &&
                              form.get('gender').touched
                            "
                            class="invalid-feedback"
                          >
                            Gender is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Age Group -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="label">
                          <label [for]="'inputPassengerAgeGroup'"
                            >Age Group</label
                          >
                        </div>
                        <div class="control">
                          <kendo-dropdownlist
                            class="form-control"
                            textField="text"
                            valueField="value"
                            [defaultItem]="utilityService.dropdownDefaultItem"
                            [data]="ageGroupList"
                            formControlName="ageGroup"
                          >
                            <ng-template
                              kendoDropDownListItemTemplate
                              let-dataItem
                            >
                              <span>{{ dataItem.text | translate }}</span>
                            </ng-template>
                          </kendo-dropdownlist>
                          <div
                            *ngIf="
                              !form.get('ageGroup').valid &&
                              form.get('ageGroup').touched
                            "
                            class="invalid-feedback"
                          >
                            Age group is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- PTC -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="label">
                          <label [for]="'inputPassengerOpm'">PTC</label>
                        </div>
                        <div class="control">
                          <kendo-dropdownlist
                            class="form-control"
                            textField="text"
                            valueField="value"
                            [defaultItem]="utilityService.dropdownDefaultItem"
                            [data]="opmList"
                            formControlName="opm"
                          >
                            <ng-template
                              kendoDropDownListItemTemplate
                              let-dataItem
                            >
                              <span>{{ dataItem.text | translate }}</span>
                            </ng-template>
                          </kendo-dropdownlist>
                          <div
                            *ngIf="
                              !form.get('opm').valid && form.get('opm').touched
                            "
                            class="invalid-feedback"
                          >
                            PTC is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Phone number -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="label">
                          <label for="inputPhoneNumber">Phone Number</label>
                        </div>
                        <div class="control">
                          <input
                            type="tel"
                            class="form-control"
                            name="inputPhoneNumber"
                            formControlName="phoneNumber"
                            id="inputPhoneNumber"
                          />
                          <div
                            *ngIf="
                              !form.get('phoneNumber').valid &&
                              form.get('phoneNumber').touched
                            "
                            class="invalid-feedback"
                          >
                            Phone Number is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Address -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="label">
                          <label [for]="'inputPassengerAddress'">Address</label>
                        </div>
                        <div class="control">
                          <input
                            type="tel"
                            class="form-control"
                            name="inputPassengerAddress"
                            formControlName="address"
                            id="inputPassengerAddress"
                          />
                          <div
                            *ngIf="
                              !form.get('address').valid &&
                              form.get('address').touched
                            "
                            class="invalid-feedback"
                          >
                            Address is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="pull-right">
                    <button
                      type="button"
                      (click)="close()"
                      class="btn btn-default custombtn"
                    >
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-primary ml-8">
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
