<div class="grid-content">
  <app-grid-toolbar
    [numberOfRecords]="gridData?.total"
    entity="trip"
    [hideColumnDropdown]="true"
  ></app-grid-toolbar>
  <kendo-grid
    [data]="gridData"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="pageable"
    [filter]="state.filter"
    [filterable]="filterable"
    scrollable="none"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column
      field="serialNumber"
      title="{{ utilityService.language.tripId | translate }}"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <a routerLink="/trips/view/{{ dataItem.id }}/detail">{{
          dataItem.tripId
        }}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="type" title="Trip Type">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{ utilityService.getTripTypeLabel(dataItem.type) }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="destination"
      title="{{ utilityService.language.destination | translate }}"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{
          utilityService.getTripDestinationLabel(dataItem.destination)
        }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="createdDate"
      title="{{ utilityService.language.dateCreated | translate }}"
      filter="date"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{ dataItem.createdDate | dateformat : "g" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="action-column">
      <ng-template kendoGridHeaderTemplate>
        <span><i class="action-column-icon"></i></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-grid-action-dropdown
          [actions]="getGridActions(dataItem)"
          [index]="rowIndex"
          [states]="getGridActionMenuState()"
        ></app-grid-action-dropdown>
      </ng-template>
    </kendo-grid-column>
    <ng-template
      kendoPagerTemplate
      let-totalPages="totalPages"
      let-currentPage="currentPage"
    >
      <div class="grid-toolbar">
        <div class="left">
          <kendo-pager-page-sizes
            [pageSizes]="pageable.pageSizes"
          ></kendo-pager-page-sizes>
        </div>
        <div class="right">
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons
            [buttonCount]="pageable.buttonCount"
          ></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
        </div>
      </div>
    </ng-template>
    <kendo-grid-messages
      pagerItemsPerPage="{{
        utilityService.language.recordsPerPage | translate
      }}"
      pagerItems="rows"
    ></kendo-grid-messages>
  </kendo-grid>
</div>
