<div class="row">
  <div class="col-3">
    <app-dashboard-home-trip-tile
      iconClass="today-trip-icon"
      title="{{ utilityService.language.todaysTrips | translate }}"
      [count]="countModel?.todayTrips"
      [reportLink]="'/reports/trips/today'"
      admin
      bottomLeftLable="{{ utilityService.language.ongoing | translate }}"
      [bottomLeftValue]="countModel?.todayOngoing"
      bottomRightLable="{{ utilityService.language.inQueue | translate }}"
      [bottomRightValue]="countModel?.todayInQueue"
    ></app-dashboard-home-trip-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-tile
      iconClass="ongoing-trip-icon"
      title="{{ utilityService.language.ongoingTrips | translate }}"
      [count]="countModel?.ongoingTrips"
      [reportLink]="'/reports/trips/ongoing'"
      bottomLeftLable="{{ utilityService.language.inDQ | translate }}"
      [bottomLeftValue]="countModel?.ongoingInDq"
      bottomRightLable="{{ utilityService.language.outDQ | translate }}"
      [bottomRightValue]="countModel?.ongoingOutDq"
    ></app-dashboard-home-trip-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-tile
      iconClass="vehicles-icon"
      title="{{ utilityService.language.vehicles | translate }}"
      [count]="countModel?.activeVehicles"
      [reportLink]="'/reports/vehicles/all'"
      bottomLeftLable="{{ utilityService.language.allocated | translate }}"
      [bottomLeftValue]="countModel?.allocatedVehicles"
      bottomRightLable="{{ utilityService.language.unallocated | translate }}"
      [bottomRightValue]="countModel?.unallocatedVehicles"
    ></app-dashboard-home-trip-tile>
  </div>
  <div class="col-3">
    <app-dashboard-home-trip-tile
      iconClass="drivers-icon"
      title="{{ utilityService.language.drivers | translate }}"
      [count]="countModel?.activeDrivers"
      [reportLink]="'/reports/drivers/all'"
      bottomLeftLable="{{ utilityService.language.busy | translate }}"
      [bottomLeftValue]="countModel?.busyDrivers"
      bottomRightLable="{{ utilityService.language.idle | translate }}"
      [bottomRightValue]="countModel?.idleDrivers"
    ></app-dashboard-home-trip-tile>
  </div>
</div>
