<div *ngIf="model">
    <!-- General Information -->
    <div class="form-section form-section-border">
      <div class="section-header">{{ utilityService.language.generalInfo | translate }}</div>
      <div class="section-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputFirstName">{{ utilityService.language.firstName | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputFirstName"
                  [value]="model.firstName"
                  readonly
                  id="inputFirstName"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputMiddleName">{{ utilityService.language.middleName | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputMiddleName"
                  [value]="model.middleName"
                  readonly
                  id="inputMiddleName"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputLastName">{{ utilityService.language.lastName | translate }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputLastName"
                  [value]="model.lastName"
                  readonly
                  id="inputLastName"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-section form-section-border">
      <div class="section-header"></div>
      <div class="section-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="label">
                    <label for="inputNationality">Nationality</label>
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      name="inputNationality"
                      [value]="model.nationality"
                      readonly
                      id="inputNationality"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="label">
                    <label for="inputID">ID #</label>
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      name="inputID"
                      [value]="model.userIdStr"
                      readonly
                      id="inputID"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="label">
                    <label for="inputMobileNumber">{{ utilityService.language.mobileNumber | translate }}</label>
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      name="inputMobileNumber"
                      [value]="model.mobileNumber"
                      readonly
                      id="inputMobileNumber"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="label">
                    <label for="inputEmail">{{ utilityService.language.emailAddress | translate }}</label>
                  </div>
                  <div class="control">
                    <input
                      type="text"
                      class="form-control"
                      name="inputEmail"
                      [value]="model.email"
                      readonly
                      id="inputEmail"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
    
  