<div class="grid-content">
  <app-grid-toolbar
    [grid]="rolesGrid"
    [numberOfRecords]="gridData?.total"
    entity="role"
    [createBtn]="createButton"
    [hidePagingDropdown]="true"
    [hideExportDropdown]="true"
  ></app-grid-toolbar>
  <kendo-grid
    id="rolesGrid"
    [data]="gridData"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="pageable"
    [filter]="state.filter"
    [filterable]="filterable"
    scrollable="none"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column field="type" title="Type">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{ utilityService.getUserRoleTypeLabel(dataItem.type) }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
    <kendo-grid-column title="Status">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="dataItem.active == true">Enabled</span>
        <span *ngIf="dataItem.active == false">Disabled</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="action-column">
      <ng-template kendoGridHeaderTemplate>
        <span><i class="action-column-icon"></i></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-grid-action-dropdown
          [actions]="getGridActions(dataItem)"
          [index]="rowIndex"
          [states]="getGridActionMenuState()"
        ></app-grid-action-dropdown>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
