<div class="grid-content">
    <app-grid-toolbar
      [numberOfRecords]="gridData?.total"
      entity="driver"
    ></app-grid-toolbar>
    <kendo-grid
      [data]="gridData"
      [sortable]="true"
      [pageable]="pageable"
      [filterable]="filterable"
      scrollable="none"
    >
    <kendo-grid-column field="vehicalIdStr" title="ID">
    </kendo-grid-column>
    <kendo-grid-column field="vehicalName" title="Vehicle">
    </kendo-grid-column>
    <kendo-grid-column field="vehicalPlate" title="Vehicle Plate">
    </kendo-grid-column>
    <kendo-grid-column field="date" title="Assigned Date" filter="date">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{ dataItem.date | dateformat : "g" }}
    </ng-template>
    </kendo-grid-column>
    </kendo-grid>
  </div>
  