<div class="grid-content">
    <app-grid-toolbar
      [numberOfRecords]="gridData?.total"
      entity="driver"
    ></app-grid-toolbar>
    <kendo-grid
    [data]="gridData"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="pageable"
    [filter]="state.filter"
    [filterable]="filterable"
    scrollable="none"
    (dataStateChange)="dataStateChange($event)"
    >
    <kendo-grid-column field="vehicalIdStr" title="{{ utilityService.language.id | translate }}">
    </kendo-grid-column>
    <kendo-grid-column field="vehicalName" title="{{ utilityService.language.vehical | translate }}">
    </kendo-grid-column>
    <kendo-grid-column field="vehicalPlate" title="{{ utilityService.language.vehicalPlate | translate }}">
    </kendo-grid-column>
    <kendo-grid-column field="date" title="{{ utilityService.language.assignedDate | translate }}" filter="date">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{ dataItem.date | dateformat : "g" }}
    </ng-template>
    </kendo-grid-column>
    </kendo-grid>
  </div>
  