<div *ngIf="model">
  <div class="page-actions"></div>
  <div class="page-area">
    <div class="page-header">
      <div class="page-title">
        <span>Trip Update - {{ model.tripId }}</span>
      </div>
    </div>
    <div class="page-body">
      <div class="grid-toolbar">
        <div class="left"></div>
        <div
          class="right"
          style="display: flex; justify-content: space-between"
        >
          <!-- <button
            class="btn btn-orange"
            *ngIf="model.status < status.AssignedToDriver"
            (click)="executeTrip()"
          >
            <i class="fa fa-check-circle-o"></i> Execute Trip
          </button>
          <button
            class="btn btn-orange"
            *ngIf="
              model.status >= status.AssignedToDriver &&
              model.status < status.Completed
            "
            (click)="handoverTrip()"
          >
            <i class="fa fa-check-circle-o"></i> Trip Handover
          </button>
          <button
            class="btn btn-orange"
            *ngIf="
              model.status >= status.AssignedToDriver &&
              model.status < status.Completed
            "
            (click)="cancelTrip()"
          >
            <i class="fa fa-times-circle-o"></i> Terminate Trip
          </button>
          <button
            class="btn btn-orange"
            *ngIf="model.status == status.Created"
            (click)="cancelTrip()"
          >
            <i class="fa fa-times-circle-o"></i> Cancel Trip
          </button>
          <button class="btn btn-orange">
            <i class="fa fa-print"></i> Print
          </button> -->
        </div>
      </div>
      <div class="tab-left">
        <div class="tab-left-items">
          <a
            class="tab-left-item"
            routerLinkActive="active"
            routerLink="/trips/edit/{{ model.id }}/information"
            >{{ utilityService.language.information | translate }}</a
          >
          <a
            class="tab-left-item"
            routerLinkActive="active"
            routerLink="/trips/edit/{{ model.id }}/journey"
            >{{ utilityService.language.journey | translate }}</a
          >
          <a
            class="tab-left-item"
            routerLinkActive="active"
            routerLink="/trips/edit/{{ model.id }}/passengers"
            >{{ utilityService.language.passangers | translate }}</a
          >
          <a
            class="tab-left-item"
            routerLinkActive="active"
            routerLink="/trips/edit/{{ model.id }}/destinations"
            >{{ utilityService.language.destinations | translate }}</a
          >
        </div>
        <div class="tab-content" style="background-color: white; padding: 8px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
