<form
  (ngSubmit)="submit()"
  *ngIf="form"
  [formGroup]="form"
  (keydown.enter)="$event.preventDefault()"
>
  <div class="card card-grey p-24">
    <div class="card-header display-flex justify-space-between">
      <div class="card-title">Taxes</div>
      <div class="card-action">
        <button type="submit" class="btn btn-green">Save</button>
      </div>
    </div>
    <div class="card-body">
      <div class="form-section">
        <div class="section-header">
          <span>Set taxes applied on sale and purchase</span>
        </div>
        <div class="section-body">
          <div class="fields">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="control">
                    <div class="display-flex">
                      <div class="checkbox-control">
                        <kendo-switch
                          [size]="'small'"
                          id="inputEnableTax"
                          formControlName="enableTax"
                        ></kendo-switch>
                      </div>
                      <div class="label">
                        <label for="inputEnableTax"
                          >Apply global store level taxes</label
                        >
                      </div>
                    </div>
                    <div class="control-helper">
                      When this option is enabled a global tax rate will be
                      applied on all products and services.
                    </div>
                    <div class="control-helper">
                      Note the global tax rule will not take effect if a tax is
                      enabled on the product itself.
                    </div>
                  </div>
                </div>
                <div *ngIf="form.get('enableTax').value === true">
                  <div class="form-group">
                    <div class="label">
                      <label for="inputSaleTaxRate">Tax on Sale</label>
                    </div>
                    <div class="control">
                      <kendo-dropdownlist
                        class="form-control"
                        textField="text"
                        valueField="value"
                        [defaultItem]="utilityService.dropdownDefaultItem"
                        [data]="saleTaxRateList"
                        formControlName="saleTaxRate"
                      >
                      </kendo-dropdownlist>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="label">
                      <label for="inputPurchaseTaxRate">Tax on Purchase</label>
                    </div>
                    <div class="control">
                      <kendo-dropdownlist
                        class="form-control"
                        textField="text"
                        valueField="value"
                        [defaultItem]="utilityService.dropdownDefaultItem"
                        [data]="purchaseTaxRateList"
                        formControlName="purchaseTaxRate"
                      >
                      </kendo-dropdownlist>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
