<form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
  <div class="card card-grey p-24">
    <div class="card-header display-flex justify-space-between">
      <div class="card-title">Business Details</div>
      <div class="card-action">
        <button type="submit" class="btn btn-green">Save</button>
      </div>
    </div>
    <div class="card-body">
      <div class="form-section">
        <div class="section-body">
          <div class="fields">
            <div class="form-group">
              <div class="label">
                <label for="inputBusinessName">Business Name</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  id="inputBusinessName"
                  formControlName="name"
                />
                <div
                  *ngIf="!form.get('name').valid && form.get('name').touched"
                  class="invalid-feedback"
                >
                  Name is required
                </div>
                <span class="control-helper"> </span>
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="inputOwnerName">Owner Name</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  id="inputOwnerName"
                  formControlName="ownerName"
                />
                <div
                  *ngIf="
                    !form.get('ownerName').valid &&
                    form.get('ownerName').touched
                  "
                  class="invalid-feedback"
                >
                  Owner name is required
                </div>
                <span class="control-helper"> </span>
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="inputEmail">Email</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail"
                  formControlName="email"
                />
                <span class="control-helper"> </span>
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="inputWebsite">Website</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  id="inputWebsite"
                  formControlName="website"
                />
                <span class="control-helper"> </span>
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="inputOwnerPhone">Owner Phone</label>
              </div>
              <div class="control">
                <div class="split-input" formGroupName="ownerPhone">
                  <kendo-dropdownlist
                    class="form-control flex-2"
                    textField="text"
                    valueField="value"
                    formControlName="countryCode"
                    [data]="countryCodeList"
                  >
                  </kendo-dropdownlist>
                  <input
                    type="text"
                    class="form-control flex-4 ml-16"
                    id="inputWebsite"
                    formControlName="phoneNumber"
                  />
                </div>
                <span class="control-helper-light">
                  Contact # +92514499383
                </span>
                <span class="control-helper">
                  Store phone contact is import and required information that
                  could be used to contact the owner in case of emergency.
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="inputAddress1">Address</label>
              </div>
              <div class="control" formGroupName="address">
                <label for="inputAddress1">Line 1</label>
                <div class="split-input">
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress1"
                    formControlName="primaryAddress"
                  />
                </div>
                <label for="inputAddress2">Line 2</label>
                <div class="split-input">
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress2"
                    formControlName="address2"
                  />
                </div>
                <span class="control-helper"> </span>
              </div>
            </div>
            <div class="form-group">
              <div class="label">
                <label for="inputBusinessLogo">Business Logo</label>
              </div>
              <div class="control">
                <img
                  [src]="form.get('logo.logo').value"
                  alt="Business Logo"
                  class="logo"
                  height="80"
                  width="152"
                />
                <input
                  type="file"
                  accept="image/*"
                  class="form-control"
                  id="inputBusinessLogo"
                  #inputBusinessLogo
                  (change)="handleBusinessLogoInput($event.target.files)"
                />
                <span class="control-helper-light">
                  File format .JPG or .PNG, max file size 1 MB and dimensions
                  80px x 152px.
                </span>
                <span class="control-helper">
                  Upload business logo that will appear on the documents for
                  example invoice, PO and reports etc.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
