<router-outlet></router-outlet>
<div kendoDialogContainer></div>

<app-alert
  *ngIf="opened"
  [type]="type"
  [settings]="settings"
  [action]="action"
  [arg]="arg"
></app-alert>

<app-loader-block-ui *ngIf="showLoader"></app-loader-block-ui>

<app-address-quick-add-popup
  *ngIf="showAddressQuickAddPopup"
  [arg]="addressQuickAddPopupArg"
></app-address-quick-add-popup>

<app-passenger-quick-add-popup
  *ngIf="showPassengerQuickAddPopup"
  [arg]="passengerQuickAddPopupArg"
></app-passenger-quick-add-popup>

<app-trip-edit-passenger-add-new-popup
  *ngIf="showTripPassengerPopup"
  [arg]="tripPassengerPopupArg"
></app-trip-edit-passenger-add-new-popup>

<app-notification-rule-edit
  *ngIf="showNotificationRulePopupPopup"
  [ruleId]="ruleId"
></app-notification-rule-edit>

<app-trip-execute-popup
  *ngIf="showTripExecutePopup"
  [tripId]="tripId"
></app-trip-execute-popup>

<app-trip-handover-popup
  *ngIf="showTripHandoverPopup"
  [tripId]="tripId"
></app-trip-handover-popup>

<app-trip-cancel-popup
  *ngIf="showTripCancelPopup"
  [tripId]="tripId"
></app-trip-cancel-popup>

<app-allocate-vehical-popup
  *ngIf="showAllocateVehicalPopup"
  [driverId]="driverId"
></app-allocate-vehical-popup>

<app-deallocate-vehical-popup
  *ngIf="showDeallocateVehicalPopup"
  [driverId]="driverId"
></app-deallocate-vehical-popup>
