<div *ngIf="!model">
  <div class="form-section form-section-border">
    <div class="section-header" style="text-align: center; display: block;">{{ utilityService.language.noVehicalInfo | translate }}</div>
  </div>
</div>
<div *ngIf="model">
  <!-- General Information -->
  <div class="form-section form-section-border">
    <div class="section-header">{{ utilityService.language.vehicalInfo | translate }}</div>
    <div class="section-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="label">
              <label for="inputMake">{{ utilityService.language.make | translate }}</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="inputMake"
                [value]="model.make"
                readonly
                id="inputMake"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="label">
              <label for="inputModel">{{ utilityService.language.model | translate }}</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="inputModel"
                [value]="model.model"
                readonly
                id="inputModel"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-body">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <div class="label">
                  <label for="inputModelYear">{{ utilityService.language.modelYear | translate }}</label>
                </div>
                <div class="control">
                  <input
                    type="text"
                    class="form-control"
                    name="inputModelYear"
                    [value]="model.modelYear"
                    readonly
                    id="inputModelYear"
                  />
                </div>
              </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="label">
              <label for="inputRegistrationPlate">{{utilityService.language.registrationPlate | translate }}</label>
            </div>
            <div class="control">
              <input
                type="text"
                class="form-control"
                name="inputRegistrationPlate"
                [value]="model.registrationPlate"
                readonly
                id="inputRegistrationPlate"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
