<div *ngIf="model">
    <div class="page-actions"></div>
    <div class="page-area">
      <div class="page-header">
        <div class="page-title">
          <span>Driver - {{ model.driverIdStr }}</span>
        </div>
      </div>
      <div class="page-body">
        <div class="grid-toolbar">
          <div class="left"></div>
          <div
            class="right"
            style="display: flex; justify-content: space-between"
          >
          </div>
        </div>
        <div class="tab-left">
          <div class="tab-left-items">
            <a
              class="tab-left-item"
              routerLinkActive="active"
              routerLink="/drivers/view/{{ model.id }}/detail"
              >Driver Details</a
            >
            <a
              class="tab-left-item"
              routerLinkActive="active"
              routerLink="/drivers/view/{{ model.id }}/inspection"
              >Drivers Inspection</a
            >
            <a
              class="tab-left-item"
              routerLinkActive="active"
              routerLink="/drivers/view/{{ model.id }}/trips"
              >Drivers Trips</a
            >
            <a
              class="tab-left-item"
              routerLinkActive="active"
              routerLink="/drivers/view/{{ model.id }}/vehicle"
              >Drives Vehicles</a
            >
          </div>
          <div class="tab-content" style="background-color: white; padding: 8px">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  