<div class="overlay" [perfectScrollbar]>
  <div class="overlay-wrapper" style="width: 50%">
    <div class="overlay-content bg-white p-24 sm-padding-10">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-transparent">
            <div class="card-header">
              <div class="card-title">Vehical Allocation</div>
            </div>
            <div class="card-block">
              <form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
                <div class="form-section">
                  <div class="section-header">Driver Information</div>
                  <div class="section-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="label">
                            <label for="inputDriverIdLabel">Driver ID</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="label">
                            <label for="inputDriverIdValue">{{
                              model.driverId
                            }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="label">
                            <label for="inputDriverBookedByLabel"
                              >Driver Name</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="label">
                            <label for="inputDriverNameValue">{{
                              model.driverName
                            }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="label">
                            <label for="inputDriverStatusLabel">Status</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="label">
                            <label for="inputRequesterValue">{{
                              model.status
                            }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="section-header">Select Vehical</div>
                  <div class="section-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="label">
                            <label for="inputVehical">Vehical</label>
                          </div>
                          <div class="control">
                            <kendo-multiselect
                              [data]="vehicalList"
                              class="form-control"
                              textField="make"
                              valueField="id"
                              formControlName="vehicals"
                              [valuePrimitive]="true"
                            >
                              <ng-template kendoMultiSelectHeaderTemplate>
                                <div
                                  class="display-flex dropdown-header-padding"
                                >
                                  <div class="flex-1 k-font-weight-bold">
                                    Make
                                  </div>
                                  <div class="flex-1 k-font-weight-bold">
                                    Model
                                  </div>
                                  <div class="flex-1 k-font-weight-bold">
                                    Model Year
                                  </div>
                                  <div class="flex-1 k-font-weight-bold">
                                    Registration Plate
                                  </div>
                                  <div class="flex-1 k-font-weight-bold">
                                    Status
                                  </div>
                                </div>
                              </ng-template>
                              <ng-template
                                kendoMultiSelectItemTemplate
                                let-dataItem
                              >
                                <div class="flex-1 display-flex">
                                  <div class="flex-1">
                                    {{ dataItem.make }}
                                  </div>
                                  <div class="flex-1">
                                    {{ dataItem.model }}
                                  </div>
                                  <div class="flex-1">
                                    {{ dataItem.modelYear }}
                                  </div>
                                  <div class="flex-1">
                                    {{ dataItem.registrationPlate }}
                                  </div>
                                  <div class="flex-1">
                                    {{
                                      utilityService.getVehicalStatusLabel(
                                        dataItem.status?.value
                                      )
                                    }}
                                  </div>
                                </div>
                              </ng-template>
                            </kendo-multiselect>
                            <!-- <div
                              *ngIf="
                                !form.get('vehicals').valid &&
                                form.get('vehicals').touched
                              "
                              class="invalid-feedback"
                            >
                              Vehical is required
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="pull-right">
                    <button
                      type="button"
                      (click)="close()"
                      class="btn btn-default custombtn"
                    >
                      Cancel
                    </button>
                    <button type="submit" class="btn btn-green ml-8">
                      Allocate Vehical
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
