<div class="grid-content">
  <div class="grid-toolbar">
    <div class="left">
      <div class="form-group">
        <kendo-dropdownlist
          style="width: 200px; max-width: 200px"
          class="form-control"
          textField="text"
          valueField="value"
          [filterable]="true"
          [defaultItem]="utilityService.dropdownDefaultItem"
          (filterChange)="handlePassengerFilter($event)"
          (valueChange)="handlePassengerValueChange($event)"
          [data]="passengerList"
          [(ngModel)]="selectedPassenger"
        >
          <ng-template kendoDropDownListItemTemplate let-dataItem>
            <span>{{ dataItem.text }}</span
            ><span
              *ngIf="dataItem.value == ''"
              class="fa fa-plus-square quick-add-icon"
              (click)="openPassengerQuickAddPopup(true)"
            ></span>
          </ng-template>
        </kendo-dropdownlist>
      </div>
      <button class="btn btn-green" (click)="handleCreateNewButtonClick()">
        {{ utilityService.language.addPassanger | translate }}
      </button>
    </div>
    <div class="right"></div>
  </div>
  <app-grid-toolbar
    [numberOfRecords]="gridData?.total"
    entity="passenger"
    [hideColumnDropdown]="true"
  ></app-grid-toolbar>
  <kendo-grid
    [data]="gridData"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="pageable"
    [filter]="state.filter"
    [filterable]="filterable"
    scrollable="none"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column
      field="name"
      title="{{ utilityService.language.name | translate }}"
    >
    </kendo-grid-column>
    <kendo-grid-column headerClass="action-column">
      <ng-template kendoGridHeaderTemplate>
        <span><i class="action-column-icon"></i></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span class="fa fa-times" (click)="removePassenger(dataItem.id)"></span>
      </ng-template>
    </kendo-grid-column>
    <ng-template
      kendoPagerTemplate
      let-totalPages="totalPages"
      let-currentPage="currentPage"
    >
      <div class="grid-toolbar">
        <div class="left">
          <kendo-pager-page-sizes
            [pageSizes]="pageable.pageSizes"
          ></kendo-pager-page-sizes>
        </div>
        <div class="right">
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons
            [buttonCount]="pageable.buttonCount"
          ></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
        </div>
      </div>
    </ng-template>
    <kendo-grid-messages
      pagerItemsPerPage="{{
        utilityService.language.recordsPerPage | translate
      }}"
      pagerItems="rows"
    ></kendo-grid-messages>
  </kendo-grid>
</div>
