<div class="card card-grey p-24">
  <div class="card-header display-flex justify-space-between">
    <div class="card-title">Integrations</div>
    <div class="card-action"></div>
  </div>
  <div class="card-body">
    <div class="form-section">
      <div class="section-header">
        <span>You can manage and customize connected apps.</span>
      </div>
      <div class="section-body">
        <div class="fields">
          <div class="row">
            <div class="col-md-6">
              <div class="integration-tile justify-space-between flex-column">
                <div
                  class="display-flex justify-space-between flex-column p-24"
                >
                  <div class="display-flex justify-space-between mb-32">
                    <div class="display-flex flex-1 flex-column">
                      <div class="square-logo mb-8"></div>
                      <a
                        target="_blank"
                        href="https:\\www.squareup.com"
                        class="grey-link"
                        >squareup.com</a
                      >
                    </div>
                    <div class="display-flex flex-1 justify-right">
                      <kendo-switch
                        [size]="'small'"
                        id="inputEnableSquare"
                        [(ngModel)]="enableSquareConfig"
                        (valueChange)="handleEnableSquareValueChange($event)"
                      ></kendo-switch>
                    </div>
                  </div>
                  <div class="desc mb-16">
                    <span>Accept payments quickly, easily, and securely.</span>
                  </div>
                </div>
                <div
                  class="display-flex border-top pr-24 pt-16 pb-16 justify-right"
                >
                  <a routerLink="/setting/square/devices">View Integration</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="integration-tile justify-space-between flex-column">
                <div
                  class="display-flex justify-space-between flex-column p-24"
                >
                  <div class="display-flex justify-space-between mb-32">
                    <div class="display-flex flex-1 flex-column">
                      <div class="smartpay-logo mb-8"></div>
                      <a
                        target="_blank"
                        href="https:\\www.smartpay.com.au"
                        class="grey-link"
                        >smartpay.com.au</a
                      >
                    </div>
                    <div class="display-flex flex-1 justify-right">
                      <kendo-switch
                        [size]="'small'"
                        id="inputEnableSmartpay"
                        [(ngModel)]="enableSmartpayConfig"
                        (valueChange)="handleEnableSmartpayValueChange($event)"
                      ></kendo-switch>
                    </div>
                  </div>
                  <div class="desc mb-16">
                    <span>Simplify your payments and grow your business.</span>
                  </div>
                </div>
                <div
                  class="display-flex border-top pr-24 pt-16 pb-16 justify-right"
                >
                  <a href="">View Integration</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
