.fa {
  margin-right: 8px !important;
}

.topbar-icon {
  display: block;
  height: 24px;
  width: 24px;
}

.notification-icon {
  background-image: url("./../../icons/navbar/notifications.png");
  background-repeat: no-repeat;
}

.setting-icon {
  background-image: url("./../../icons/navbar/setting.png");
  background-repeat: no-repeat;
}

.menu-icon {
  display: block;
  height: 32px;
  width: 48px;
}

.home-icon {
  background-image: url("./../../icons/menu/ico-dashboard.png");
  background-repeat: no-repeat;
}

.vehicle-icon {
  background-image: url("./../../icons/menu/ico-vehicle.png");
  background-repeat: no-repeat;
}

.trip-icon {
  background-image: url("./../../icons/menu/ico-.png");
  background-repeat: no-repeat;
}

.driver-icon {
  background-image: url("./../../icons/menu/ico-driver.png");
  background-repeat: no-repeat;
}

.reports-icon {
  background-image: url("./../../icons/menu/reports-white.png");
  background-repeat: no-repeat;
}

.quick-add-icon {
  margin-left: 10px;
  font-size: 22px;
  margin-top: 9px;
  cursor: pointer;
  position: absolute;
}

.k-dropdown-wrap .quick-add-icon {
  display: none;
}

.k-list-optionlabel .quick-add-icon {
  margin-top: 2px !important;
  cursor: pointer;
  position: absolute;
  right: 5px;
  font-size: inherit;
}

.k-selected .quick-add-icon {
  color: white !important;
}

.action-column-icon {
  display: block;
  height: 14px;
  width: 10px;
  background-image: url("./../../icons/grid/ico-action-table.png");
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.action-icon {
  display: block;
  height: 24px;
  width: 8px;
  background-image: url("./../../icons/grid/ico-action.png");
  background-repeat: no-repeat;
}

.download-icon {
  display: block;
  height: 17px;
  width: 17px;
  background-image: url("./../../icons/grid/ico-download.png");
  background-repeat: no-repeat;
}

.grid-column-layout-icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url("./../../icons/grid/ico-layout.png");
  background-repeat: no-repeat;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon .fa-trash {
  color: rgb(107, 119, 137);
  font-size: 16px;
  padding: 16px 0;
}

.clickable {
  cursor: pointer;
}

.bin-icon {
  background-image: url("./../../icons/bin.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: block;
}

.square-logo {
  width: 100px;
  height: 25px;
  background-image: url("./../../images/settings/integrations/logo-square.png");
  background-repeat: no-repeat;
}

.smartpay-logo {
  width: 115px;
  height: 25px;
  background-image: url("./../../images/settings/integrations/logo-smartpay.png");
  background-repeat: no-repeat;
}
