<div class="dashboard-widget">
  <div class="header">Upcoming Trips</div>
  <div class="caption">Trips due in next 60 minutes</div>
  <div class="table" *ngIf="list">
    <table>
      <thead>
        <tr>
          <th>{{ utilityService.language.time }}</th>
          <th>{{ utilityService.language.tripId }}</th>
          <th>{{ utilityService.language.passanger }}</th>
          <th>{{ utilityService.language.driver }}</th>
          <th>{{ utilityService.language.vehical }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.time | dateformat : "hh:mm aa" }}</td>
          <td>{{ item.tripId }}</td>
          <td>{{ item.passenger }}</td>
          <td>{{ item.driver }}</td>
          <td>{{ item.vehical }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
