<div class="grid-content">
  <app-grid-toolbar
    [numberOfRecords]="gridData?.total"
    entity="driver"
    [hideColumnDropdown]="true"
  ></app-grid-toolbar>
  <kendo-grid
    [data]="gridData"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [sortable]="true"
    [resizable]="true"
    [reorderable]="true"
    [pageable]="pageable"
    [filter]="state.filter"
    [filterable]="filterable"
    scrollable="none"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column field="userId" title="{{ utilityService.language.id | translate }}" filter="numeric" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <a routerLink="/drivers/view/{{ dataItem.id }}/detail">{{
          dataItem.userIdStr
        }}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="fullName" title="{{ utilityService.language.fullName | translate }}" [width]="200">
    </kendo-grid-column>
    <kendo-grid-column field="nationalId" title="{{ utilityService.language.nationalId | translate }}" [width]="200">
    </kendo-grid-column>
    <kendo-grid-column field="mobileNumber" title="{{ utilityService.language.mobileNumber | translate }}" [width]="200">
    </kendo-grid-column>
    <kendo-grid-column
      field="vehicalAllocated"
      title="Allocated Vehicle"
      [width]="200"
    >
    </kendo-grid-column>
    <kendo-grid-column field="active" title="{{ utilityService.language.active | translate }}" [width]="150">
      <ng-template kendoGridFilterCellTemplate let-value="value">
        <kendo-dropdownlist
          style="width: 100px"
          class="form-control"
          textField="text"
          valueField="value"
          [defaultItem]="utilityService.dropdownAllItem"
          (valueChange)="handleActiveValueChange($event)"
          [data]="booleanList"
          [(ngModel)]="selectedActive"
        >
          <ng-template kendoDropDownListItemTemplate let-dataItem>
            <span>{{ dataItem.text | translate }}</span>
          </ng-template>
        </kendo-dropdownlist>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="dataItem.active">{{ utilityService.language.yes | translate }}</span>
        <span *ngIf="!dataItem.active">{{ utilityService.language.no | translate }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="driverStatus" title="{{ utilityService.language.status | translate }}" [width]="250">
      <ng-template kendoGridFilterCellTemplate let-value="value">
        <kendo-dropdownlist
          style="width: 200px"
          class="form-control"
          textField="text"
          valueField="value"
          [defaultItem]="utilityService.dropdownAllItem"
          (valueChange)="handleDriverStatusValueChange($event)"
          [data]="driverStatusList"
          [(ngModel)]="selectedDriverStatus"
        >
          <ng-template kendoDropDownListItemTemplate let-dataItem>
            <span>{{ dataItem.text | translate }}</span>
          </ng-template>
        </kendo-dropdownlist>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span>{{
          utilityService.getDriverStatusLabel(dataItem.driverStatus)
        }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="createdDate"
      title="{{ utilityService.language.dateCreated | translate }}"
      [width]="250"
      filter="date"
    >
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        {{ dataItem.createdDate | dateformat : "g" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="action-column">
      <ng-template kendoGridHeaderTemplate>
        <span><i class="action-column-icon"></i></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-grid-action-dropdown
          [actions]="getGridActions(dataItem)"
          [index]="rowIndex"
          [states]="getGridActionMenuState()"
        ></app-grid-action-dropdown>
      </ng-template>
    </kendo-grid-column>
    <ng-template
      kendoPagerTemplate
      let-totalPages="totalPages"
      let-currentPage="currentPage"
    >
      <div class="grid-toolbar">
        <div class="left">
          <kendo-pager-page-sizes
            [pageSizes]="pageable.pageSizes"
          ></kendo-pager-page-sizes>
        </div>
        <div class="right">
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons
            [buttonCount]="pageable.buttonCount"
          ></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
        </div>
      </div>
    </ng-template>
    <kendo-grid-messages
      pagerItemsPerPage="{{ utilityService.language.recordsPerPage | translate }}"
      pagerItems="rows"
    ></kendo-grid-messages>
  </kendo-grid>
</div>
