.dashboard-widget {
  display: block;
  background-color: white;
  padding: 16px;
  min-height: 300px;
}

.dashboard-widget .header {
  padding: 0px !important;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px !important;
}

.dashboard-widget .caption {
  padding: 0px !important;
  font-size: 10px;
  padding-bottom: 24px !important;
}

.dashboard-widget .table {
  display: flex;
  height: 250px;
  overflow: auto;
}

.dashboard-widget .table table {
  width: 100%;
}

.dashboard-widget .table table th {
  background-color: #fff7f4;
  color: #dd4352;
  vertical-align: top;
  padding: 8px !important;
  font-weight: normal;
}

.widget-content {
  display: flex;
  padding: 64px 0 16px;
}

.trip-counts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.trip-counts .item {
  display: flex;
  padding-bottom: 16px;
}

.trip-counts .item .icon {
  margin-right: 8px;
}

.trip-counts .item .label {
  margin-right: 8px;
  flex: 4;
  font-family: "Roboto";
  font-size: 14px;
  color: #445153;
}

.trip-counts .item .count {
  margin-right: 8px;
  flex: 2;
  text-align: right;
  font-family: "Roboto";
  font-size: 14px;
  color: #adb6bb;
}

.blue-trip-type-icon {
  background-image: url("./../../assets/icons/chart-ico/Blue.Ellipse.svg");
  height: 16px;
  width: 16px;
}

.purple-trip-type-icon {
  background-image: url("./../../assets/icons/chart-ico/Purple.Ellipse.svg");
  height: 16px;
  width: 16px;
}

.red-trip-type-icon {
  background-image: url("./../../assets/icons/chart-ico/Red.Ellipse.svg");
  height: 16px;
  width: 16px;
}

.yellow-trip-type-icon {
  background-image: url("./../../assets/icons/chart-ico/Yellow.Ellipse.svg");
  height: 16px;
  width: 16px;
}
