<div class="page-area">
  <div class="page-body">
    <div class="row pb-24">
      <div class="col-12">
        <app-dashboard-home-trip-tiles></app-dashboard-home-trip-tiles>
      </div>
    </div>
    <div class="row pb-24">
      <div class="col-6">
        <app-dashboard-home-upcoming-trips></app-dashboard-home-upcoming-trips>
      </div>
      <div class="col-6">
        <app-dashboard-home-ongoing-trips></app-dashboard-home-ongoing-trips>
      </div>
    </div>
    <div class="row pb-24">
      <div class="col-6">
        <app-dashboard-home-trip-type-chart></app-dashboard-home-trip-type-chart>
      </div>
      <div class="col-6">
        <app-dashboard-home-trip-milage-chart></app-dashboard-home-trip-milage-chart>
      </div>
    </div>
    <div class="row pb-24">
      <div class="col-12">
        <app-dashboard-home-trip-bottom-tiles></app-dashboard-home-trip-bottom-tiles>
      </div>
    </div>
  </div>
</div>
