<div class="grid-content">
  <app-grid-toolbar
    [numberOfRecords]="gridData?.total"
    entity="driver"
  ></app-grid-toolbar>
  <kendo-grid
    [data]="gridData"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="pageable"
    [filter]="state.filter"
    [filterable]="filterable"
    scrollable="none"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column field="vehicalId" title="ID">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <a routerLink="/drivers/driver/{{ dataItem.id }}/view">{{
          dataItem.vehicalIdStr
        }}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Address"> </kendo-grid-column>
    <kendo-grid-column field="status" title="Status"></kendo-grid-column>
    <kendo-grid-column headerClass="action-column">
      <ng-template kendoGridHeaderTemplate>
        <span><i class="action-column-icon"></i></span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <app-grid-action-dropdown
          [actions]="getGridActions(dataItem)"
          [index]="rowIndex"
          [states]="getGridActionMenuState()"
        ></app-grid-action-dropdown>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
