<form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form">
  <div class="page-actions"></div>
  <div class="page-area">
    <div class="page-header">
      <div class="page-title">
        <span>{{ utilityService.language.passanger | translate }}</span>
      </div>
    </div>
    <div class="page-body">
      <!-- Vehical Info -->
      <div class="form-section">
        <div class="row">
          <!-- Name -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputName">{{
                  utilityService.language.name | translate
                }}</label>
              </div>
              <div class="control">
                <input
                  type="text"
                  class="form-control"
                  name="inputName"
                  formControlName="name"
                  id="inputName"
                />
                <div
                  *ngIf="!form.get('name').valid && form.get('name').touched"
                  class="invalid-feedback"
                >
                  {{ utilityService.language.nameRequired || translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- Gender -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label [for]="'inputPassengerGender'">{{
                  utilityService.language.gender | translate
                }}</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [defaultItem]="utilityService.dropdownDefaultItem"
                  [data]="genderList"
                  formControlName="gender"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text | translate }}</span>
                  </ng-template>
                </kendo-dropdownlist>
                <div
                  *ngIf="
                    !form.get('gender').valid && form.get('gender').touched
                  "
                  class="invalid-feedback"
                >
                  {{ utilityService.language.genderRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- Status -->
          <div class="col-md-4 custom-state">
            <div class="form-group">
              <div class="control">
                <div class="display-flex">
                  <div class="checkbox-control">
                    <kendo-switch
                      [size]="'small'"
                      id="inputStatus"
                      formControlName="isActive"
                    ></kendo-switch>
                  </div>
                  <div class="label">
                    <label for="inputStatus">{{
                      utilityService.language.isActive | translate
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Age Group -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label [for]="'inputPassengerAgeGroup'">{{
                  utilityService.language.ageGroup | translate
                }}</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [defaultItem]="utilityService.dropdownDefaultItem"
                  [data]="ageGroupList"
                  formControlName="ageGroup"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text | translate }}</span>
                  </ng-template>
                </kendo-dropdownlist>
                <div
                  *ngIf="
                    !form.get('ageGroup').valid && form.get('ageGroup').touched
                  "
                  class="invalid-feedback"
                >
                  {{ utilityService.language.ageGroupRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- OPM -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label [for]="'inputPassengerOpm'">{{
                  utilityService.language.opm | translate
                }}</label>
              </div>
              <div class="control">
                <kendo-dropdownlist
                  class="form-control"
                  textField="text"
                  valueField="value"
                  [defaultItem]="utilityService.dropdownDefaultItem"
                  [data]="opmList"
                  formControlName="opm"
                >
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span>{{ dataItem.text | translate }}</span>
                  </ng-template>
                </kendo-dropdownlist>
                <div
                  *ngIf="!form.get('opm').valid && form.get('opm').touched"
                  class="invalid-feedback"
                >
                  {{ utilityService.language.opmRequired | translate }}
                </div>
              </div>
            </div>
          </div>
          <!-- Phone number -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label for="inputPhoneNumber">{{
                  utilityService.language.phoneNumber | translate
                }}</label>
              </div>
              <div class="control">
                <input
                  type="tel"
                  class="form-control"
                  name="inputPhoneNumber"
                  formControlName="phoneNumber"
                  id="inputPhoneNumber"
                />
                <div
                  *ngIf="
                    !form.get('phoneNumber').valid &&
                    form.get('phoneNumber').touched
                  "
                  class="invalid-feedback"
                >
                  {{ utilityService.language.phoneNumberRequired | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Address -->
          <div class="col-md-4">
            <div class="form-group">
              <div class="label">
                <label [for]="'inputPassengerAddress'">{{
                  utilityService.language.address | translate
                }}</label>
              </div>
              <div class="control">
                <input
                  type="tel"
                  class="form-control"
                  name="inputPassengerAddress"
                  formControlName="address"
                  id="inputPassengerAddress"
                />
                <div
                  *ngIf="
                    !form.get('address').valid && form.get('address').touched
                  "
                  class="invalid-feedback"
                >
                  {{ utilityService.language.addressRequired | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Actions -->
      <div class="form-section transparent-section">
        <div class="section-body">
          <div class="description sm-hide"></div>
          <div class="fields">
            <div class="form-group">
              <button
                class="btn btn-default mr-16"
                type="button"
                (click)="cancel()"
              >
                {{ utilityService.language.cancel | translate }}
              </button>
              <button *ngIf="!editMode" class="btn btn-primary" type="submit">
                {{ utilityService.language.create | translate }}
              </button>
              <button *ngIf="editMode" class="btn btn-primary" type="submit">
                {{ utilityService.language.update | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
